.barra-sencundaria {
   position: absolute;
   top: 0;
   left: 0;
   transition: top 1s ease;
   width: 100%;
}
/* .barra-secundaria:hover {
   top: 50px;
} */

.container {
   max-width: 1240px;
}

.banner{
   background-image: url(../images/nosotros/nosotros01.jpg);
}