/* Reseteo de estilos */
*, *::before, *::after {
   box-sizing: border-box;
}
:root{
   --nav-bg:rgb(221, 221, 221);
   --nav-text-color:rgb(20, 20, 20);
   --nav-search-color: rgb(180,180,180);
   --nav-search-focus: rgba(120,120,120,0.25);
}
body {
   margin: 0;
   padding: 0;
   padding-top: 60px;
   font-family: 'Bahnschrift Regular';
   font-weight: normal;
}

/* Estilos para navbar */
.nav-bg{
   background-color: var(--nav-bg);
   font-weight: 500;
   font-size: 18px;
}
.nav-logo{
   height: 40px;
   width: 100px;
}
.form-control:focus{
   border-color: var(--nav-search-color);
   box-shadow: -0.1rem 0 1px .1rem var(--nav-search-focus)
}
.form-control:focus + .input-group-btn {
   border-color: var(--nav-search-color);
   box-shadow: 0.1rem 0 1px .1rem var(--nav-search-focus);
}
.navbar .form-control, .input-group-btn{
   background-color: var(--nav-bg);
   height: 25px;
}
.input-group-btn{
   width: 35px;
   border: 1px solid var(--nav-search-color);
   border-left: none;
   border-radius: 20px;
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
   font-size: 0.8rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.navbar .form-control{
   border-color: var(--nav-search-color);
   border-right: none;
   border-radius: 20px;
   border-bottom-right-radius: 0;
   border-top-right-radius: 0;
}
.navbar-light .navbar-nav .nav-link{
   color: var(--nav-text-color);
}


/* Responsive Web Design */
@media screen and (max-width:768px){
   .navbar .input-group{
      width: 100%;
   }
}